[Unit]
Description = User Service
[Service]
User=roboshop
Environment=MONGO="{{ lookup('hashi_vault', 'roboshop-{{ env }}/data/user:MONGO token={{ vault_token }} url=vault-internal.siddevsecops.icu:8200')}}"
Environment=REDIS_URL="{{ lookup('hashi_vault', 'roboshop-{{ env }}/data/user:REDIS_URL token={{ vault_token }} url=vault-internal.siddevsecops.icu:8200')}}"
Environment=MONGO_URL="{{ lookup('hashi_vault', 'roboshop-{{ env }}/data/user:MONGO_URL token={{ vault_token }} url=vault-internal.siddevsecops.icu:8200')}}"

ExecStart=/bin/node /app/server.js
SyslogIdentifier=user
[Install]
WantedBy=multi-user.target